.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 200px;

}

.container{
    display: flex;
    background: #1f2937;
    flex-direction: column;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    justify-content: space-between;
}
a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: white;
    gap: 5px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    width: 300px;
    flex-wrap: wrap;
    margin-bottom: 2px;

}

.title-text {
    margin-top: 0px;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.info {
    margin-top: 40px;
    padding: 0 200px;
}


button {
    color: white;
    background: #3882f6;
    border-radius: 8px;
    padding: 8px 24px;
}

.button {
    margin-bottom: 100px;
    border: none;
}

.empty {
    padding: 0 100px;
}

.first-section {
    display: flex;
    align-items: center;
}

.sub-header{
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
}
.sub-info {
    max-width: 200px;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    flex-wrap: wrap;
    width: 450px;
}
.quotee {
    font-weight: 800;
}
.container3 {
    display: flex;
    background: #e5e7eb;
    justify-content: center;
    margin: 20px 0px;
    align-items:last baseline;
}

.actions {
    display: flex;
    flex-direction: column;

}

.action {
    color: white;
    font-weight: 400;
    margin-bottom: -12px;
}

.button2 {
    display: flex;
    margin-right: 40px;
    border-color: white;
}
.subsection4 {
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
}
.container4 {
    background: #3882f6;
    padding: 25px;
    margin-left: 200px;
    width: 800px;
    border-radius: 8px;
}
.sub-text {
    font-size: 14px;
    color: #e5e7eb;

}